.ui-page {
    background: transparent url(imgs/fondo_papel.jpg);
    background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	
	/*background-image: url("http://www.cervezotecamalte.com/maltemb/img/TRAM2.png");
	background-repeat:repeat;*/
}
.ui-content {
    color:#FFFFFF;
    text-shadow:1px 1px 1px #000000;
	text-size:14px;
}
a
{
	text-decoration:none;
}
#boton_orden
{
	font-size: 12px;
}
#cabecera
{
	font-size: 12px;
}

#pie
{
	font-size: 12px;
	text-align: right;
}
